# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://lspmfcibojjyzbwvryzw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzcG1mY2lib2pqeXpid3ZyeXp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3NTUzMjAsImV4cCI6MjA3MjMzMTMyMH0.K6JO3fTgCvOdHVBqTXDUl8Hgctn04n4GwBlhHCs6Ovo

# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_APP_NAME=Star_Housekeeping 
